@use "./Header/Header.scss";
@use "./Project/Home.scss";
@use "./Project/Cards.scss";
@use "./Collapse/Collapse.scss";
@use "./PageProjet/Projet.scss";
@use "./PageProjet/ProjectImage.scss";
@use "./About/About.scss";
@use "./Footer/Footer.scss"