@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    margin: auto;
   

}

/*Colors*/
$colorViolet: #29225D;
$colorPink: #BFB5DC;

/*Police*/
$font-family: "Montserrat Alternates", sans-serif;
$font-family-fantasy: "Indie Flower"; 
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-base: 18px;
$font-size-medium: 24px;
$font-size-large: 26px;
$font-size-xlarge: 36px;
$font-size-xxlarge: 48px;
$font-size-xxxlarge: 288px;
$font-style: bold;

/* card*/
$dimensionCard: 340px;
$borderRadiusCard: 10px;
$card-width: 240px;
$card-height: 240px;
$gap: 20px;
$column: 3;
$rows: 2;

